@import url(http://fonts.googleapis.com/css?family=Smokum); 

body {
  background: hsl(124,100%,21%); 
  font-family: arial;
  height: 1000px;
  overflow: hidden;
  background-image: radial-gradient(center, circle cover, hsl(124,100%,21%) 0%, hsl(124,70%,10%) 100%);
  margin: 0;
}
body > .star {
  position: absolute;
  top: 400px;
  left: 50%;
  margin-left: -400px;
}

.star {
  height: 0;
  width: 0;
  position: relative;
  transform: rotate(10deg);
  transform-origin: 400px 0;
}
.star:before {
  border: 400px solid transparent;
  border-bottom-color: hsl(124,100%,91%);
  position: absolute;
  top: -800px;
  transform: scaleX(0.02);
  content: '';
}
.star:after {
  border: 400px solid transparent;
  border-top-color: hsl(124,100%,91%);
  position: absolute;
  top: 0;
  transform: scaleX(0.02);
  content: '';
}

.bar {
  height: 300px;
  margin: 250px auto 0 auto;
  width: 500px;
  border: solid 4px #eee;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  background: #222; 
}

.name {
  font-size: 4em;
  padding: 5px 0;
  width: 500px;
  text-align: center; 
  white-space: nowrap; 
  font-family: 'Smokum', cursive;
  color: #111;
}
.slot2 .name {
  margin-left: -103%;
}
.slot3 .name {
  margin-left: -206%;
}

.slot { 
  height: 97%;
  width: 32%;
  background-color: grey;
  display: inline-block; 
  background-image: linear-gradient(top, #555 0%, #999 4%, #ddd 10%, #fff 50%, #ddd 90%, #999 96%, #555 100%);
  overflow: hidden;
  position: absolute;
  top: 1.6%;
} 

.slot1 {
  border-radius: 10px 0 0 10px; 
  left: 1%;
}
.slot2 {  
  left: 34%;
  
}
.slot3 {
  border-radius: 0 10px 10px 0; 
  left: 67%;
}