@import url(http://fonts.googleapis.com/css?family=Smokum); 

body {
  background: hsl(124,100%,21%); 
  font-family: arial;
  height: 1000px;
  overflow: hidden;
  background-image: radial-gradient(center, circle cover, hsl(124,100%,21%) 0%, hsl(124,70%,10%) 100%);
  margin: 0;
}
body > .star {
  position: absolute;
  top: 400px;
  left: 50%;
  margin-left: -1000px;
}
.winner-circle {
  position: fixed;
  top: 10px; right: 10px;
  color: hsl(124,100%,91%);
  font-size: 12px;
  background: rgba(0,0,0,0.1);
  display: none;
  border-radius: 4px;
}
.winner-circle  > *{
  padding: 4px 8px;
}

.star {
  height: 0;
  width: 0;
  position: relative;
  transform: rotate(10deg);
  transform-origin: 1000px 0;
}
.star:before {
  border: 1000px solid transparent;
  border-bottom-color: white;
  position: absolute;
  top: -2000px;
  transform: scaleX(0.01);
  content: '';
  opacity: 0.1;
}
.star:after {
  border: 1000px solid transparent;
  border-top-color: white;
  position: absolute;
  top: 0;
  transform: scaleX(0.01);
  content: '';
  opacity: 0.1;
}

.prize, .all-done {
  width: 800px;
  text-align: center;
  margin: 0 0 0 -400px;
  padding: 0;
  left: 50%;
  top: 70px;
  color: white; 
  text-shadow: 2px 2px 4px black;
  font-family: 'Smokum', cursive;
  position: absolute;
  font-size: 7em;  
}
.all-done {
  top: auto;
  bottom: 20px;
  display: none;
}

.reset {
  position: fixed;
  right: 15px;
  bottom: 5px;
  background: #555;
  color: #aaa;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
}

.bar {
  height: 320px;
  margin: 250px auto 0 auto;
  width: 500px;
  border: solid 16px hsl(45, 67%, 53%);
  border-radius: 30px; 
  overflow: hidden;
  position: relative;
  background: #222; 
}

.bar:before , .bar:after{
  height: 2px;
  width: 90%;
  left: 5%;
  position: absolute;
  top: 120px;
  background: hsl(0, 100%, 35%);
  content:'';
  z-index: 99;
}
.bar:after {
  top: 206px;
}

.slot .entry {
  padding: 5px 0;
  text-align: center; 
}
.slot .entry.text {
  font-size: 4em;
  white-space: nowrap; 
  font-family: 'Smokum', cursive;
  color: #111;
  width: 500px;
}
.slot .entry.image {
  width: 100%;
}
.slot .entry.image img {
  border-radius: 4px;
  width: 48px;
  height: 48px;
}
.slot2 .entry.text {
  margin-left: -103%;
}
.slot3 .entry.text {
  margin-left: -206%;
}

.slot { 
  height: 97%;
  width: 32%;
  background-color: grey;
  display: inline-block; 
  background-image: linear-gradient(top, #555 0%, #999 4%, #ddd 10%, #fff 50%, #ddd 90%, #999 96%, #555 100%);
  overflow: hidden;
  position: absolute;
  top: 1.6%;
} 

.slot1 {
  border-radius: 10px 0 0 10px; 
  left: 1%;
}
.slot2 {  
  left: 34%;
  
}
.slot3 {
  border-radius: 0 10px 10px 0; 
  left: 67%;
}